














<html>
<head>


        <!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Add Bootstrap JavaScript and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
     
        <style>

            body {
                background-color: #fbfbfb;
              }
              @media (min-width: 991.98px) {
                main {
                  padding-left: 240px;
                }
              }
              
              /* Sidebar */
              .sidebar {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                padding: 58px 0 0; /* Height of navbar */
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
                width: 240px;
                z-index: 600;
              }
              
              @media (max-width: 991.98px) {
                .sidebar {
                  width: 100%;
                }
              }
              .sidebar .active {
                border-radius: 5px;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
              }
              
              .sidebar-sticky {
                position: relative;
                top: 0;
                height: calc(100vh - 48px);
                padding-top: 0.5rem;
                overflow-x: hidden;
                overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
              }

        </style>
    </head>


<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
             href="{% url "seller_index" %}"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
              ><span>Main dashboard</span>
          </a>
          <a
             href="{% url "add_product" %}"
             class="list-group-item list-group-item-action py-2 ripple active"
             >
            <i class="fas fa-chart-area fa-fw me-3"></i
              ><span>Add Product</span>
          </a>
          {% comment %} <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-lock fa-fw me-3"></i><span>Profile</span></a
            > {% endcomment %}
          <a
             href="{% url "seller_product_listing" %}"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-chart-line fa-fw me-3"></i
            ><span>View Product</span></a
            >
            <a
             href="{% url "seller_orders" %}"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
            >
          {% comment %} <a
             href=""
             class="list-group-item list-group-item-action py-2 ripple"
             >
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
          </a>
          <a
             href="{% url 'seller_orders' %}"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
            >
          <a
             href=""
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-globe fa-fw me-3"></i
            ><span>International</span></a
            >
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-building fa-fw me-3"></i
            ><span>Partners</span></a
            >
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-calendar fa-fw me-3"></i
            ><span>Calendar</span></a
            >
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
            >
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
            > {% endcomment %}
            <a
             href="{% url "quality" %}"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i
              ><span>Quality</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav class="my-custom-navbar navbar navbar-expand-lg navbar-light bg-white">
        <div class="container ps-5 ms-5">
          <!-- Brand -->
          <a class="navbar-brand" href="#">My Project</a>
      
          <!-- Search form -->
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2 ps-5 ms-5"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
      
          <!-- Right links -->
          <ul class="navbar-nav ml-auto">
            <!-- Notification icon -->
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-bell"></i>
                <span class="badge badge-danger"></span>
              </a>
            </li>
      
            <!-- User dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url "seller_product_listing" %}">Register</a>
                <a class="dropdown-item" href="{% url "custom_login" %}">Login</a>
                <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      
      
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    

    
    <div class="container mt-5 px-2">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <div class="position-relative">
                <span class="position-absolute search"></span>
                <input type="text" id="search-input" class="form-control w-100" placeholder="Search by name...">
            </div>
            <div class="px-2">
                <span>Filters <i class="fa fa-angle-down"></i></span>
                
                <select id="filter-options" class="form-control">
                    <option value="all">All</option>
                    <option value="low-to-high">Stock Low to High</option>
                    <option value="date-asc">Date Ascending</option>
                    <option value="date-desc">Date Descending</option>
                </select>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-responsive table-borderless">
                <thead>
                    <tr class="bg-light">

                        <th scope="col" width="5%">image</th>

                        <th scope="col" width="20%">product name</th>
                        <th scope="col" width="10%">price</th>
                        <th scope="col" width="10%">quantity</th>
                        <th scope="col" width="15%">Instock</th>
                        <th scope="col" width="15%">Date</th>
                        {% comment %} <th scope="col" width="10%">Batch Id</th> {% endcomment %}

                        <th scope="col" class="text-end" width="30%"><span></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in seller_products %}
                    <tr>

                        <td>
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="img-thumbnail" style="max-width: 100px;">
                        </td>

                        <td class="product-name">{{ product.product_name }}</td>
                        <td class="price">₹{{ product.price }}</td>
                        <td class="quantity"> {{ product.quantity_value }}/{{product.quantity_prefix}}</td>
                        <td class="stock">{{ product.stock }}</td>
                        <td class="date">{{ product.date_added }}</td>
                        {% comment %} <td class="product-name">{{ product.batch_no }}</td> {% endcomment %}

                        <td class="text-end">
                            <a href={% url "update_product" product.id %}><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
    <!-- Add Chart.js library -->
   
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    integrity="sha384-RX68I6Xw5f2Jt5V+hLaGc5RZn5txVNyz1tcAq2KU8/uhR5/zw5P0o2Ev6l5f7a"
    crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.10/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                const query = $(this).val().toLowerCase();
                $('tbody tr').each(function () {
                    const productName = $(this).find('td:eq(1)').text().toLowerCase(); // Adjust the column index (1-based) for product name
                    if (productName.includes(query)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
        </script>
        <script>

        document.addEventListener('DOMContentLoaded', function () {
            const filterOptions = document.getElementById('filter-options');
            const tableRows = document.querySelectorAll('tbody tr');
        
            filterOptions.addEventListener('change', function () {
                const selectedOption = filterOptions.value;
        
                if (selectedOption === 'low-to-high') {
                    // Sort table rows by stock (low to high)
                    const sortedRows = Array.from(tableRows).sort((a, b) => {
                        const stockA = parseInt(a.querySelector('.stock').textContent, 10);
                        const stockB = parseInt(b.querySelector('.stock').textContent, 10);
                        return stockA - stockB;
                    });
        
                    // Replace the table rows with the sorted rows
                    tableRows.forEach((row) => row.remove());
                    sortedRows.forEach((row) => document.querySelector('tbody').appendChild(row));
                } else if (selectedOption === 'date-asc') {
                    // Sort table rows by date (ascending)
                    const sortedRows = Array.from(tableRows).sort((a, b) => {
                        const dateA = new Date(a.querySelector('.date').textContent);
                        const dateB = new Date(b.querySelector('.date').textContent);
                        return dateA - dateB;
                    });
        
                    // Replace the table rows with the sorted rows
                    tableRows.forEach((row) => row.remove());
                    sortedRows.forEach((row) => document.querySelector('tbody').appendChild(row));
                } else if (selectedOption === 'date-desc') {
                    // Sort table rows by date (descending)
                    const sortedRows = Array.from(tableRows).sort((a, b) => {
                        const dateA = new Date(a.querySelector('.date').textContent);
                        const dateB = new Date(b.querySelector('.date').textContent);
                        return dateB - dateA;
                    });
        
                    // Replace the table rows with the sorted rows
                    tableRows.forEach((row) => row.remove());
                    sortedRows.forEach((row) => document.querySelector('tbody').appendChild(row));
                } else {
                    // Reset to the default order (All)
                    tableRows.forEach((row) => document.querySelector('tbody').appendChild(row));
                }
            });
        });
            
        
    </script>
 
  <script>
    $(document).ready(function () {
      // Initialize Bootstrap's JavaScript components
      $('[data-toggle="dropdown"]').dropdown();
    });
  </script>

  <!--Main layout-->

  </html>
