<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Generate Sales Report</h5>
            <form action="{% url 'generate_sales_report' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Generate Report</button>
            </form>
        </div>
    </div>
</div>

