{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gustogrove Shop - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css\custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css\fontawesome.min.css' %}">
    <style>
         .btn.added {
    color: red; /* Change the color when it's in the wishlist */}
    {% comment %} a.page-link {
        background-color: black;
        color: white; /* Text color */
    }
    
    /* Change to blue when hovered */
     a.page-link:hover {
        background-color: blue;
        color: white; /* Text color */
    } {% endcomment %}
</style>
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static 'img/gusto (2).png' %}" alt="Site Logo" class="img-fluid w-auto h-100" style="max-height: 100px;">
                </a>
            </div>
           

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                       {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'customer_profile' %}">Profile</a> 
                        </li>  {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'seller_index' %}">Become a seller</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search "></i>
                            </div> 
                            {% comment %} <input type="text" id="search-input" placeholder="Search...">
                            <button id="search-button">Search</button> {% endcomment %}
                            {% comment %} <ul id="search-results"></ul> {% endcomment %}
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-light mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'cart' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-light mr-1"></i>
                        {% comment %} <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">  {% cart_item_count request.user %}</span>  {% endcomment %}
                    </a>
                    {% comment %} <a class="nav-icon position-relative text-decoration-none dropdown" href="#" data-bs-toggle="dropdown">
                    </a>
                    
                   
                    <div class="dropdown-menu dropdown-menu-end always-show-dropdown" style="min-width: 200px;" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'customer_register' %}" style="color:rgb(2, 48, 2);">Register as Customer</a>
                        <a class="dropdown-item" href="{% url 'custom_login' %}" style="color:rgb(2, 48, 2);">Login</a>

                    </div> {% endcomment %}
                    <a class="nav-icon position-relative text-decoration-none dropdown" href="#" data-bs-toggle="dropdown">
                        <i class="fa fa-fw fa-user text-light mr-1"></i>
                    </a>
                   
                    <div class="dropdown-menu dropdown-menu-end always-show-dropdown" style="min-width: 200px;" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'customer_register' %}" style="color:rgb(2, 48, 2);">Register as Customer</a>
                        {% comment %} <a class="dropdown-item" href="{% url 'seller_register' %}" style="color:rgb(2, 48, 2);">Register as Seller</a> {% endcomment %}
                        <a class="dropdown-item" href="{% url 'custom_login' %}" style="color:rgb(2, 48, 2);">Login</a>
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'customer_profile' %}" style="color: rgb(2, 48, 2);">Profile</a>
                        {% endif %}

                    </div>
                    <a href="{% url 'wishlist' %}" class="btn btn-success">
                        <i class="fas fa-heart"></i> 
                    </a>
                        {% comment %} <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span> {% endcomment %}
                    
                    {% if user.is_authenticated %}
                    <h4 class=" text-light" >{{user.name}}<h4>
                        <div style="margin-left: 5px;" class="mt-2">
                            <a class="nav-icon position-relative text-decoration-none" href="{% url 'logout' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                           
                    {% endif %}
                        </div>
                        
                        
                   
                </div>
            </div>

        </div>
    </nav>

    <!-- Header -->
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                    </a>
                </div>
            </div>

        </div>
    </nav> {% endcomment %}
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Content -->

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger text-center" >{{ message }}</div>
      {% endfor %}            
    {% endif %}
    <div class="container py-5">
        
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none category-link" href="#" data-category="Spices">
                            Spices
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none subcategory-link" href="#" data-subcategory="Whole Spices">Whole Spices</a></li>
                            <li><a class="text-decoration-none subcategory-link" href="#" data-subcategory="Spice Mix">Spice Mix</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none category-link" href="#" data-category="Beverages">
                            Beverages
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none subcategory-link" href="#" data-subcategory="Tea">Tea</a></li>
                            <li><a class="text-decoration-none subcategory-link" href="#" data-subcategory="Coffee">Coffee</a></li>
                        </ul>
                    </li>
                </ul>
            </div> 
           

             <div class="col-lg-9">
                
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#"></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#"></a>
                            </li>
                        </ul>
                    </div> 
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-9">
                        <div id="filtered-products-container" class="col-lg-9">
                            <!-- Filtered products will be displayed here -->
                        </div>
                        <!-- Add other sections of your shop page -->
                    </div>
                    {% for product in supplier_products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}" alt="{{ product.product_name }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        {% comment %} <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li> {% endcomment %}
                                        <button type="button" class="btn btn-success text-white wishlist-button" id="wishlist-button" data-product-id="{{ product.pk }}" onclick="toggleWishlist(this)"><i class="far fa-heart"></i> </button>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'product_detail' product_id=product.pk %}"><i class="far fa-eye"></i></a></li>
                                        {% comment %} <button class="add-to-cart" data-product-id="{{ product.id }}"></button> {% endcomment %}
                                        <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-success text-white mt-2"><i class="fas fa-cart-plus"></i></a>                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">{{ product.product_name }}</a><br>
                                {% comment %} {% if product.average_rating == 0.0 %}
    <p>No ratings</p>
{% else %}
{% with range_list=range(product.average_rating|floatformat:0|add:0|make_list) %}
    <script>
        console.log({{ range_list|safe }});
    </script>

    {% for i in range_list %}
        <script>
            console.log("{{ i }}");
        </script>
        <i class="fas fa-star text-warning"></i>
    {% endfor %}
{% endwith %}
{% endif %} {% endcomment %}

                                {% comment %} <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul> {% endcomment %}
                                {% comment %} <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    {% for _ in range(average_rating|default:0) %}
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                        </li>
                                    {% endfor %}
                                    {% for _ in range(5 - average_rating|default:0) %}
                                        <li>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                    {% endfor %}
                                </ul> {% endcomment %}
                                
                                <p class="text-center mb-0">₹{{ product.price }}</p>
                            </div>
                        </div>
                       
                    </div>
                  
                    
                {% endfor %}
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <ul class="pagination pagination-lg justify-content-end">
                
                            {% if page.has_previous %}
                                <li class="page-item disabled">
                                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0  " href="#"  tabindex="-1">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"  href="?page={{ page.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}
                
                            {% for num in page.paginator.page_range %}
                                <li class="page-item {% if num == page.number %}{% if num == 1 %}first-page{% endif %} active{% endif %}" >
                                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                
                            {% if page.has_next %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="?page={{ page.paginator.num_pages }}">Last</a>
                                </li>
                            {% endif %}
                
                        </ul>
                    </div>
                </div>
                
               
            </div>

        </div>
        
    </div>
     

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'img/orika_bring_logo0_1.jpg' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img w-100 h-80" src="{% static 'img/octavious.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'img/keralaspice.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'img/kerala.jpg' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->
                                    
                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name 
                            | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js\jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js\jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js\templatemo.js' %}"></script>
    <script src="{% static 'js\templatemo.js' %}"></script>
    <script src="{% static 'js\custom.js' %}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Event listener for category links
        $('.category-link').click(function(e) {
            e.preventDefault();
            var category = $(this).data('category');
            filterProducts(category);
        });
    
        // Event listener for subcategory links
        $('.subcategory-link').click(function(e) {
            e.preventDefault();
            var category = $(this).closest('li').prev('.category-link').data('category');
            var subcategory = $(this).data('subcategory');
            filterProducts(category, subcategory);
        });
    
        // Function to filter products
        function filterProducts(category, subcategory) {
            $.ajax({
                url: '/filter-products/',  // URL to your view that handles filtering
                type: 'GET',
                data: {
                    category: category,
                    subcategory: subcategory
                },
                success: function(response) {
                    // Update the HTML content of the container with the filtered products
                    $('#filtered-products-container').html(response);
                },
                error: function(xhr, errmsg, err) {
                    console.log(errmsg);
                }
            });
        }
    });
</script>
    <script>
        function toggleWishlist(button) {
            const productId = button.getAttribute('data-product-id');
            const url = `/add_to_wishlist/${productId}/`;
            const method = button.classList.contains('added') ? 'remove' : 'add';
            const wishlistButton = document.querySelector(`.wishlist-button[data-product-id="${productId}"]`);
            const wishlistIcon = wishlistButton.querySelector('i');
        
            fetch(url, {
                method: method === 'add' ? 'POST' : 'DELETE',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    button.classList.toggle('added');
                    console.log("Add");
                    wishlistIcon.classList.toggle('text-danger'); // Change the color
                    alert(`Product ${method === 'add' ? 'added to' : 'removed from'} your wishlist!`);
                } else {
                    console.log("Else");
                    alert(`Failed to ${method === 'add' ? 'add to' : 'remove from'} wishlist.`);
                }
            })
            .catch(error => {
                console.error(error);
            });
        }
        
        // Function to update quantity
        function updateQuantity(productId, newQuantity) {
            // You can implement the logic to send the new quantity to the server here
            // For example, you can use fetch to send a POST request to the server
            const url = `/update_quantity/${productId}/`;
            const data = {
                quantity: newQuantity
            };
    
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (response.ok) {
                    // Quantity updated successfully
                } else {
                    alert('Failed to update quantity.');
                }
            })
            .catch(error => {
                console.error(error);
            });
        }
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        // Rest of your script (getCookie function)
    </script>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        updateCart(); // Update cart when the cart page loads
    });
    
    function updateCart() {
        // Send a GET request to your Django view to fetch the cart items and total price.
        fetch('/get_cart/') // Replace with the appropriate URL
        .then(response => response.json())
        .then(data => {
            const cartItems = data.items;
            const totalPrice = data.total_price;
    
            const cartList = document.getElementById('cart-items');
            const totalPriceSpan = document.getElementById('total-price');
    
            // Clear the current cart items
            cartList.innerHTML = '';
    
            // Add each item to the cart list
            cartItems.forEach(item => {
                const listItem = document.createElement('li');
                listItem.textContent = `${item.product_name} - Quantity: ${item.quantity} - Price: $${item.price.toFixed(2)}`;
                cartList.appendChild(listItem);
            });
    
            // Update the total price
            totalPriceSpan.textContent = `$${totalPrice.toFixed(2)}`;
        })
        .catch(error => {
            console.error(error);
        });
    }
</script>


    <!-- End Script -->
</body>

</html>


